<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.farmlog">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.Farmlog"
        tools:targetApi="31">

        <!-- Add Google maps API key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <activity
            android:name="com.example.farmlog.landsmap.LandsMapActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.Farmlog" />
        <activity
            android:name="com.example.farmlog.registration.SecondRegistrationActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.Farmlog" />
        <activity
            android:name="com.example.farmlog.registration.RegistrationActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.Farmlog" />
        <activity
            android:name="com.example.farmlog.login.LoginActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.Farmlog" />
        <activity
            android:name="com.example.farmlog.welcome.WelcomeActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.Farmlog" /> <!-- Splash screen is shown first -->
        <activity
            android:name="com.example.farmlog.splashscreen.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.Farmlog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>