<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.farmlog">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="ANDROID.PERMISSION.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.Farmlog"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".welcome.AboutActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".chores.archive.ArchiveSingleItemActivity"
            android:exported="false" />
        <activity
            android:name=".archive.EditArchiveActivity"
            android:exported="false" />
        <activity
            android:name=".chores.AddNewChoreActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.Farmlog" />
        <activity
            android:name=".profile.ChangePasswordActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.Farmlog" />
        <activity
            android:name=".profile.EditProfileActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.Farmlog" />
        <activity
            android:name=".profile.ProfileActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.Farmlog" />
        <activity
            android:name=".chores.archive.ArchiveActivity"
            android:exported="true"
            android:screenOrientation="fullSensor"
            android:theme="@style/Base.Theme.Farmlog" />
        <activity
            android:name=".landsmap.LandsMapActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.Farmlog" />
        <activity
            android:name=".auth.registration.ThirdRegistrationActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.Farmlog" />
        <activity
            android:name=".auth.registration.SecondRegistrationActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.Farmlog" />
        <activity
            android:name=".auth.registration.RegistrationActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.Farmlog" />
        <activity
            android:name=".auth.login.LoginActivity"
            android:exported="true"
            android:screenOrientation="fullSensor"
            android:theme="@style/Base.Theme.Farmlog" />
        <activity
            android:name=".welcome.WelcomeActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.Farmlog" /> <!-- Splash screen is shown first -->
        <activity
            android:name=".splashscreen.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.Farmlog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Add Google maps API key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />
    </application>

</manifest>